<!--# 
layout("/layout/default.html",{"menu":["apm","apm"],"breadcrumbs":[{"name":"告警列表"}]}){ 
 #-->
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th colspan="7">
				<div class="row">
					<div class="col-md-3 ">
						<form action="${base!}/apm/search" method="post" class="search-form">
							<div class="input-group">
								<span class="input-group-addon"> 关键词 </span> <input class="form-control search-query" type="text" name="key" value="${obj.data.pager.paras.key!}" data-type="reg"
									data-reg="/^[\u4e00-\u9fa5\d\w]{1,}$/" data-default="Search..." data-error="请输入搜索关键词" placeholder="请输入类型或者 ip"> <span class="input-group-addon  search-btn"
									id="queryInfo" style="cursor: pointer;"> <i class="fa fa-search"></i> GO
								</span>
							</div>
						</form>
					</div>
					<div class="col-md-2 col-md-offset-7"></div>
				</div>
			</th>
		</tr>
		<tr>
			<th>id</th>
			<th>编码</th>
			<th>类别</th>
			<th>时间</th>
			<th>ip</th>
			<th>信息</th>
		</tr>
	</thead>

	<tbody>
		<!--# for(apm in obj.data.pager.entities){ #-->
		<tr class="center">
			<td>${apm.id!}</td>
			<td>${apm.code!}</td>
			<td>${apm.type!}</td>
			<td>${apm.alarmTime,"yyyy年MM月dd日 HH:mm:ss"}</td>
			<td>${apm.ip!}</td>
			<td>${apm.msg!}</td>
		</tr>
		<!--# } #-->
	</tbody>
	<tfoot>
		<!--#if(obj.data.pager.count == 0){  #-->
		<tr>
			<td colspan="6" class="null-pager">没有符合条件的数据</td>
		</tr>
		<!--# }else{ #-->
		<tr>
			<td colspan="6">
				<div class="pull-right">${obj.data.pager.pagerBar!}</div>
			</td>
		</tr>
		<!--# }#-->
	</tfoot>
</table>
<!--# } #-->