<!--# 
layout("/layout/default.html",{"menu":["settings",""],"breadcrumbs":[{"name":"信息设置"}]}){ 
 #-->
<div id="user-profile-2" class="user-profile">
	<div class="tabbable">
		<ul class="nav nav-tabs padding-18">
			<li class="active"><a data-toggle="tab" href="#home" aria-expanded="true"> <i class="green ace-icon fa fa-user bigger-120"></i> 我的信息
			</a></li>

			<li class=""><a data-toggle="tab" href="#feed" aria-expanded="false"> <i class="orange ace-icon fa fa-rss bigger-120"></i> 活动反馈
			</a></li>

			<li class=""><a data-toggle="tab" href="#friends" aria-expanded="false"> <i class="blue ace-icon fa fa-users bigger-120"></i> 我的好友
			</a></li>

			<li><a data-toggle="tab" href="#pictures"> <i class="pink ace-icon fa fa-picture-o bigger-120"></i> 我的图片
			</a></li>
		</ul>

		<div class="tab-content no-border padding-24">
			<div id="home" class="tab-pane active">
				<div class="row">
					<div class="col-xs-12 col-sm-3 center">
						<span class="profile-picture"> <img class="editable img-responsive" alt="Alex's Avatar" id="avatar2" src="${base!}/resources/ace/avatars/profile-pic.jpg">
						</span>

						<div class="space space-4"></div>
					</div>
					<!-- /.col -->

					<div class="col-xs-12 col-sm-9">
						<h4 class="blue">
							<span class="middle">${obj.data.user.name!}</span> <span class="label label-purple arrowed-in-right"> <i class="ace-icon fa fa-circle smaller-80 align-middle"></i> 在线
							</span>
						</h4>

						<div class="profile-user-info">
							<div class="profile-info-row">
								<div class="profile-info-name">姓名</div>

								<div class="profile-info-value">
									<span>${obj.data.user.realName !}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name">注册时间</div>

								<div class="profile-info-value">
									<span>${obj.data.user.createTime,'yyyy-MM-dd'}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name">电话</div>

								<div class="profile-info-value">
									<span>${obj.data.user.phone!}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name">邮箱</div>

								<div class="profile-info-value">
									<span>${obj.data.user.email!}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name">状态</div>

								<div class="profile-info-value">
									<span>${obj.data.user.status == 'ACTIVED' ? '<span class="label label-success arrowed">ACTIVED</span>':'<span class="label label-danger arrowed-in">DISABLED</span>'}
									</span>
								</div>
							</div>
						</div>

						<div class="hr hr-8 dotted"></div>

					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->

				<div class="space-20"></div>

			</div>
			<!-- /#home -->

			<div id="feed" class="tab-pane">
				<div class="profile-feed row">没有反馈</div>
				<!-- /.row -->
			</div>
			<!-- /#feed -->

			<div id="friends" class="tab-pane">
				<!-- #section:pages/profile.friends -->
				<div class="profile-users clearfix">没有好友</div>

			</div>
			<!-- /#friends -->

			<div id="pictures" class="tab-pane">没有图片</div>
			<!-- /#pictures -->
		</div>
	</div>
</div>
<!--# } #-->