<!--# layout("/layout/weui.html",{}){  #-->
<header class='demos-header'>
	<h1 class="demos-title">个人中心</h1>
</header>
<div class="weui_panel weui_panel_access">
	<div class="weui_panel_hd">个人信息</div>
	<div class="weui_panel_bd">
		<a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
			<div class="weui_media_hd">
				<img class="weui_media_appmsg_thumb" src="${obj.data.avatar_url!}" alt="${obj.data.loginname!}" title="${obj.data.loginname!}">
			</div>
			<div class="weui_media_bd">
				<h4 class="weui_media_title">${obj.data.loginname!}</h4>
				<p class="weui_media_desc">注册时间: ${obj.data.create_at!} 积分: ${obj.data.score!}</p>
			</div>
		</a>
	</div>
</div>
<div class="weui_panel weui_panel_access">
	<div class="weui_panel_hd">最近话题</div>
	<div class="weui_panel_bd">
		<!--# for(topic in obj.data.recent_topics){  #-->
		<a href="${base}/qa/topic/detail/${topic.id}" class="weui_media_box weui_media_appmsg">
			<div class="weui_media_hd">
				<img class="weui_media_appmsg_thumb" src="${topic.author.avatar_url}" alt="${topic.author.loginname}" title="${topic.author.loginname}">
			</div>
			<div class="weui_media_bd">
				<h4 class="weui_media_title">${topic.title}</h4>
				<p class="weui_media_desc topic-summary">发布于:${topic.create_at_forread} 分类: ${topic.tab} 点击数: ${topic.visit_count} 回复数:${topic.reply_count}</p>
			</div>
		</a>
		<!--# } #-->
	</div>
</div>
<div class="weui_panel">
	<div class="weui_panel_hd">最近回复</div>
	<div class="weui_panel_bd">
		<!--# for(topic in obj.data.recent_replies){  #-->
		<a href="${base}/qa/topic/detail/${topic.id}" class="weui_media_box weui_media_appmsg">
			<div class="weui_media_hd">
				<img class="weui_media_appmsg_thumb" src="${topic.author.avatar_url}" alt="${topic.author.loginname}" title="${topic.author.loginname}">
			</div>
			<div class="weui_media_bd">
				<h4 class="weui_media_title">${topic.title}</h4>
				<p class="weui_media_desc topic-summary">发布于:${topic.create_at_forread} 分类: ${topic.tab} 点击数: ${topic.visit_count} 回复数:${topic.reply_count}</p>
			</div>
		</a>
		<!--# } #-->
	</div>
</div>
<!--# } #-->