<!--# layout("/layout/weui.html",{}){  #-->
<style>
<!--
.author-header {
	width: 75px
}

.topic-summary {
	font-size: 8px;
	position: absolute;
	bottom: 0;
	right: 10px
}

.topic-item {
	min-height: 102px;
}

.reply {
	position: fixed;
	width: 60px;
	right: 0px;
	bottom: 0px;
	z-index: 99;
	margin-top: -150px;
	background: #fff;
}

.reply img {
	width: 60px;
}
-->
</style>
<!--# if(obj.data.reply){ #-->
<a href="${base!}/qa/reply/${obj.data.topic.data.id}" class="reply">
	<img alt="点击回复" src="${base!}/resources/jqweui/demos/images/f112.png">
</a>
<!--# } #-->
<header class='demos-header'>
	<h1 class="demos-title">话题详情</h1>
</header>
<div class="weui_panel weui_panel_access">
	<div class="weui_panel_bd">
		<div class="weui_media_box weui_media_appmsg">
			<div class="weui_media_hd">
				<img class="weui_media_appmsg_thumb" src="${obj.data.topic.data.author.avatar_url}" alt="${obj.data.topic.data.author.loginname}"
					title="${obj.data.topic.data.author.loginname}">
			</div>
			<div class="weui_media_bd">
				<article class="weui_article">
					<h1>${obj.data.topic.data.title}</h1>
					<section>
						<section>
							<p>${obj.data.topic.data.content}</p>
						</section>
					</section>
				</article>
				<p class="weui_media_desc topic-summary">发布于:${obj.data.topic.data.create_at_forread} 分类: ${obj.data.topic.data.tab} 点击数: ${obj.data.topic.data.visit_count}
					回复数:${obj.data.topic.data.reply_count}</p>
			</div>
		</div>
	</div>
</div>
<div class="weui_panel weui_panel_access">
	<div class="weui_panel_hd">回复列表</div>
	<div class="weui_panel_bd">
		<!--# for(reply in obj.data.topic.data.replies){  #-->
		<div class="weui_media_box weui_media_appmsg">
			<div class="weui_media_hd">
				<img class="weui_media_appmsg_thumb" src="${reply.author.avatar_url}" alt="${reply.author.loginname}" title="${reply.author.loginname}">
			</div>
			<div class="weui_media_bd">
				<p>${reply.content}</p>
				<p class="weui_media_desc topic-summary">发表于:${reply.create_at_forread}</p>
			</div>
		</div>
		<!--# }  #-->
	</div>
</div>
<!--# } #-->