<!--# 
layout("/layout/blog.html",{}){ 
 #-->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">文章列表</h3>
	</div>
	<ul class="list-group">

		<li class="list-group-item">

			<div class="row articles">
				<div class="col-sm-2 col-md-1 col-lg-1 post-time">
					<span class="pull-right">
						<h5>22</h5>
						<h6>
							2016<br>01
						</h6>
					</span>
				</div>
				<div class="col-sm-10 col-md-11 col-lg-11 article">
					<div class="article-title">
						<a href="${base!}/article/detail/${article.id!}">标题 </a>
					</div>
					<div class="article-summary">文章摘要</div>
					<div class="article-operation">发布: xxx | 分类: XX | 浏览: 999 | 发布时间: 2016-01-22</div>
				</div>
			</div>

		</li>
		<li class="list-group-item">

			<div class="row articles">
				<div class="col-sm-2 col-md-1 col-lg-1 post-time">
					<span class="pull-right">
						<h5>22</h5>
						<h6>
							2016<br>01
						</h6>
					</span>
				</div>
				<div class="col-sm-10 col-md-11 col-lg-11 article">
					<div class="article-title">
						<a href="${base!}/article/detail/${article.id!}">标题 </a>
					</div>
					<div class="article-summary">文章摘要</div>
					<div class="article-operation">发布: xxx | 分类: XX | 浏览: 999 | 发布时间: 2016-01-22</div>
				</div>
			</div>

		</li>
		<li class="list-group-item">

			<div class="row articles">
				<div class="col-sm-2 col-md-1 col-lg-1 post-time">
					<span class="pull-right">
						<h5>22</h5>
						<h6>
							2016<br>01
						</h6>
					</span>
				</div>
				<div class="col-sm-10 col-md-11 col-lg-11 article">
					<div class="article-title">
						<a href="${base!}/article/detail/${article.id!}">标题 </a>
					</div>
					<div class="article-summary">文章摘要</div>
					<div class="article-operation">发布: xxx | 分类: XX | 浏览: 999 | 发布时间: 2016-01-22</div>
				</div>
			</div>

		</li>
		<li class="list-group-item">

			<div class="row articles">
				<div class="col-sm-2 col-md-1 col-lg-1 post-time">
					<span class="pull-right">
						<h5>22</h5>
						<h6>
							2016<br>01
						</h6>
					</span>
				</div>
				<div class="col-sm-10 col-md-11 col-lg-11 article">
					<div class="article-title">
						<a href="${base!}/article/detail/${article.id!}">标题 </a>
					</div>
					<div class="article-summary">文章摘要</div>
					<div class="article-operation">发布: xxx | 分类: XX | 浏览: 999 | 发布时间: 2016-01-22</div>
				</div>
			</div>

		</li>
		<li class="list-group-item">

			<div class="row articles">
				<div class="col-sm-2 col-md-1 col-lg-1 post-time">
					<span class="pull-right">
						<h5>22</h5>
						<h6>
							2016<br>01
						</h6>
					</span>
				</div>
				<div class="col-sm-10 col-md-11 col-lg-11 article">
					<div class="article-title">
						<a href="${base!}/article/detail/${article.id!}">标题 </a>
					</div>
					<div class="article-summary">文章摘要</div>
					<div class="article-operation">发布: xxx | 分类: XX | 浏览: 999 | 发布时间: 2016-01-22</div>
				</div>
			</div>

		</li>
		<li class="list-group-item">

			<div class="row articles">
				<div class="col-sm-2 col-md-1 col-lg-1 post-time">
					<span class="pull-right">
						<h5>22</h5>
						<h6>
							2016<br>01
						</h6>
					</span>
				</div>
				<div class="col-sm-10 col-md-11 col-lg-11 article">
					<div class="article-title">
						<a href="${base!}/article/detail/${article.id!}">标题 </a>
					</div>
					<div class="article-summary">文章摘要</div>
					<div class="article-operation">发布: xxx | 分类: XX | 浏览: 999 | 发布时间: 2016-01-22</div>
				</div>
			</div>

		</li>
		<li class="list-group-item">

			<div class="row articles">
				<div class="col-sm-2 col-md-1 col-lg-1 post-time">
					<span class="pull-right">
						<h5>22</h5>
						<h6>
							2016<br>01
						</h6>
					</span>
				</div>
				<div class="col-sm-10 col-md-11 col-lg-11 article">
					<div class="article-title">
						<a href="${base!}/article/detail/${article.id!}">标题 </a>
					</div>
					<div class="article-summary">文章摘要</div>
					<div class="article-operation">发布: xxx | 分类: XX | 浏览: 999 | 发布时间: 2016-01-22</div>
				</div>
			</div>

		</li>
		<li class="list-group-item">

			<div class="row articles">
				<div class="col-sm-2 col-md-1 col-lg-1 post-time">
					<span class="pull-right">
						<h5>22</h5>
						<h6>
							2016<br>01
						</h6>
					</span>
				</div>
				<div class="col-sm-10 col-md-11 col-lg-11 article">
					<div class="article-title">
						<a href="${base!}/article/detail/${article.id!}">标题 </a>
					</div>
					<div class="article-summary">文章摘要</div>
					<div class="article-operation">发布: xxx | 分类: XX | 浏览: 999 | 发布时间: 2016-01-22</div>
				</div>
			</div>

		</li>
		<li class="list-group-item">

			<div class="row articles">
				<div class="col-sm-2 col-md-1 col-lg-1 post-time">
					<span class="pull-right">
						<h5>22</h5>
						<h6>
							2016<br>01
						</h6>
					</span>
				</div>
				<div class="col-sm-10 col-md-11 col-lg-11 article">
					<div class="article-title">
						<a href="${base!}/article/detail/${article.id!}">标题 </a>
					</div>
					<div class="article-summary">文章摘要</div>
					<div class="article-operation">发布: xxx | 分类: XX | 浏览: 999 | 发布时间: 2016-01-22</div>
				</div>
			</div>

		</li>
		<li class="list-group-item">

			<div class="row articles">
				<div class="col-sm-2 col-md-1 col-lg-1 post-time">
					<span class="pull-right">
						<h5>22</h5>
						<h6>
							2016<br>01
						</h6>
					</span>
				</div>
				<div class="col-sm-10 col-md-11 col-lg-11 article">
					<div class="article-title">
						<a href="${base!}/article/detail/${article.id!}">标题 </a>
					</div>
					<div class="article-summary">文章摘要</div>
					<div class="article-operation">发布: xxx | 分类: XX | 浏览: 999 | 发布时间: 2016-01-22</div>
				</div>
			</div>

		</li>
		<li class="list-group-item">

			<div class="row articles">
				<div class="col-sm-2 col-md-1 col-lg-1 post-time">
					<span class="pull-right">
						<h5>22</h5>
						<h6>
							2016<br>01
						</h6>
					</span>
				</div>
				<div class="col-sm-10 col-md-11 col-lg-11 article">
					<div class="article-title">
						<a href="${base!}/article/detail/${article.id!}">标题 </a>
					</div>
					<div class="article-summary">文章摘要</div>
					<div class="article-operation">发布: xxx | 分类: XX | 浏览: 999 | 发布时间: 2016-01-22</div>
				</div>
			</div>

		</li>

	</ul>
</div>
<!--# } #-->