<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />

<link href="${base}/resources/images/logo.ico" rel="shortcut icon">

<title>${config("application.name")} ${obj.title!}</title>

<meta name="description" content='${config("application.name")}' />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="${base}/resources/ace/css/bootstrap.css" />
<link rel="stylesheet" href="${base}/resources/ace/css/font-awesome.css" />

<!-- page specific plugin styles -->

<!-- text fonts -->
<link rel="stylesheet" href="${base}/resources/ace/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="${base}/resources/ace/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
<script type="text/javascript">
	var contextPath = '${base}';
</script>
<script src="${base}/resources/ace/js/jquery1x.js"></script>
<!--[if lte IE 9]>
    <link rel="stylesheet" href="${base}/resources/ace/css/ace-part2.css" class="ace-main-stylesheet"/>
    <![endif]-->

<!--[if lte IE 9]>
    <link rel="stylesheet" href="${base}/resources/ace/css/ace-ie.css"/>
    <![endif]-->
<link rel="stylesheet" href="${base!}/resources/kindeditor/themes/default/default.css" />

<!-- inline styles related to this page -->

<!-- ace settings handler -->
<script src="${base}/resources/ace/js/ace-extra.js"></script>
<script charset="utf-8" src="${base!}/resources/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="${base!}/resources/kindeditor/lang/zh_CN.js"></script>

<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

<!--[if lte IE 8]>
    <script src="${base}/resources/ace/js/html5shiv.js"></script>
    <script src="${base}/resources/ace/js/respond.js"></script>
    <![endif]-->
    <style type="text/css">
    .scroll-content{
    	text-align: center;
    }
    </style>
</head>

<body class="no-skin">
	<a href="https://github.com/Kerbores/NUTZ-ONEKEY" target="_blank"> <img style="position: absolute; top: 0; right: 0; border: 0;z-index: 999;width: 80px"
		src="${base!}/resources/images/github.png" alt="Fork me on GitHub" data-canonical-src="${base!}/resources/images/github.png">
	</a>
	<!-- #section:basics/navbar.layout -->
	<div id="navbar" class="navbar navbar-default">
		<script type="text/javascript">
			try {
				ace.settings.check('navbar', 'fixed')
			} catch (e) {
			}
		</script>

		<div class="navbar-container" id="navbar-container">
			<!-- #section:basics/sidebar.mobile.toggle -->
			<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
				<span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>

			<!-- /section:basics/sidebar.mobile.toggle -->
			<div class="navbar-header pull-left">
				<!-- #section:basics/navbar.layout.brand -->
				<a href="#" class="navbar-brand"> <small><i class="fa fa-leaf"></i> ${config("application.name")} </small>
				</a>

				<!-- /section:basics/navbar.layout.brand -->

				<!-- #section:basics/navbar.toggle -->

				<!-- /section:basics/navbar.toggle -->
			</div>

			<!-- #section:basics/navbar.dropdown -->
			<div class="navbar-buttons navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">
					

					<script type="text/javascript">
						$(function() {
							loadAlarms();
							setInterval(loadAlarms(), 100000);
						})
						function loadAlarms() {
							$
									.get(
											getRootPath() + "/apm/alarm",
											function(pager) {
												$('.alarm-count').text(pager.count);
												var panel = $('.alarm-items').empty();
												$(pager.entities)
														.each(
																function(i, item) {
																	var icon = 'comment';
																	var color = 'pink';
																	switch (item.type) {
																	case 'MEM':
																		icon = 'tasks';
																		color = 'pink';
																		break;
																	case 'SLOW':
																		icon = 'spinner';
																		color = 'warning';
																		break;
																	case 'DISK':
																		icon = 'file-code-o';
																		color = 'purple';
																		break;
																	case 'CPU':
																		icon = 'heartbeat';
																		color = 'danger';
																		break;
																	case 'NETWORK':
																		icon = 'internet-explorer';
																		color = 'primary';
																		break;
																	default:
																		icon = 'comment';
																		color = 'pink';
																	}
																	panel
																			.append('<li><a href="#"><div class="clearfix"><span class="pull-left" title="'+item.msg+'"> <i class="btn btn-xs no-hover btn-'+color+' fa fa-'+icon+'"></i> '
																					+ item.ip + ' ' + item.alarmTime + '</span></div></a></li>')
																})
											}, 'json');
						}
					</script>
					
					<li class="purple"><a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="ace-icon fa fa-bell icon-animated-bell"></i> <span
							class="badge badge-important alarm-count">8</span>
					</a>

						<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header"><i class="ace-icon fa fa-exclamation-triangle"></i> <span class="alarm-count">8</span> 条告警</li>

							<li class="dropdown-content">
								<ul class="dropdown-menu dropdown-navbar navbar-pink alarm-items">
								</ul>
							</li>

							<li class="dropdown-footer"><a href="${base!}/apm/list"> 查看全部告警 <i class="ace-icon fa fa-arrow-right"></i>
							</a></li>
						</ul></li>

					<li class="green"><a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="ace-icon fa fa-cc-visa icon-animated-vertical"></i> <!-- span
							class="badge badge-success">5</span -->
					</a>

						<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header"><i class="ace-icon fa fa-cc-visa"></i> 支付宝扫码捐赠</li>

							<li class="dropdown-content">
								<img alt="" src="https://camo.githubusercontent.com/76b982576767d001170114431217cece53822dd1/687474703a2f2f6769742e6f736368696e612e6e65742f75706c6f6164732f7172636f64652f7172636f64655f616c697061795f31343637353232353037313033303531382e706e67">
							</li>
						</ul></li>
						
						<li class="grey"><a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="ace-icon fa fa-wechat"></i> <!-- span class="badge badge-grey">1000</span-->
					</a>

						<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header"><i class="ace-icon fa fa-wechat"></i> 微信扫码捐赠</li>

							<li class="dropdown-content">
								<img alt="" src="https://camo.githubusercontent.com/e5a4fa058c1724ad036ffd936dceab856f06e325/687474703a2f2f6769742e6f736368696e612e6e65742f75706c6f6164732f7172636f64652f7172636f64655f7765636861745f31343637353232333534313033303531382e706e67">
							</li>
						</ul></li>

					<!-- #section:basics/navbar.user_menu -->
					<li class="light-blue"><a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="${base}/resources/ace/avatars/user.jpg"
							alt="Jason's Photo" /> <span class="user-info"> <small>欢迎,</small> ${loginUser().realName}
						</span> <i class="ace-icon fa fa-caret-down"></i>
					</a>

						<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li><a href="${base!}/system/settings"> <i class="ace-icon fa fa-cog"></i> 账户设置
							</a></li>

							<li class="divider"></li>

							<li><a href="${base!}/system/profile"> <i class="ace-icon fa fa-user"></i> 账户详情
							</a></li>

							<li class="divider"></li>

							<li><a href="${base!}/system/logout"> <i class="ace-icon fa fa-power-off"></i> 退出系统
							</a></li>
						</ul></li>

					<!-- /section:basics/navbar.user_menu -->
				</ul>
			</div>

			<!-- /section:basics/navbar.dropdown -->
		</div>
		<!-- /.navbar-container -->
	</div>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<!-- #section:basics/sidebar -->
		<div id="sidebar" class="sidebar                  responsive">
			<script type="text/javascript">
				try {
					ace.settings.check('sidebar', 'fixed')
				} catch (e) {
				}
			</script>

			<div class="sidebar-shortcuts" id="sidebar-shortcuts">
				<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
					<a href="${base!}/db/dashboard" class="btn btn-success" title="数据库监控"> <i class="ace-icon fa fa-database"></i>
					</a> <a href="${base!}/apm/dashboard" class="btn btn-info" title=" 服务器监控"> <i class="ace-icon fa fa-server"></i>
					</a>

					<!-- #section:basics/sidebar.layout.shortcuts -->
					<a href="${base!}/login/list" class="btn btn-warning" title=" 登录日志"> <i class="ace-icon fa fa-history"></i>
					</a> <a href="${base!}/operation/list" class="btn btn-danger" title=" 操作日志"> <i class="ace-icon fa fa-tag"></i>
					</a>

					<!-- /section:basics/sidebar.layout.shortcuts -->
				</div>

				<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
					<span class="btn btn-success"></span> <span class="btn btn-info"></span> <span class="btn btn-warning"></span> <span class="btn btn-danger"></span>
				</div>
			</div>
			<!-- /.sidebar-shortcuts -->

			<ul class="nav nav-list">
				<li class="${ menu[0] =='main' ?'active open':''}"><a href="${base!}/system/main"> <i class="menu-icon fa fa-tachometer"></i> <span class="menu-text"> 项目说明 </span>
				</a> <b class="arrow"></b></li>
				<li class="${ menu[0] =='acl' ?'active open':''}"><a href="#" class="dropdown-toggle"> <i class="menu-icon fa fa-users"></i> <span class="menu-text"> 访问控制 </span> <b
						class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>

					<ul class="submenu">
						<!--# if(hasPermission('user.list')){ #-->
						<li class="${ menu[1] =='user_admin' ?'active':''}"><a href="${base!}/user/list"> <i class="menu-icon fa fa-user"></i> 用户管理
						</a> <b class="arrow"></b></li>
						<!--# } #-->
						<!--# if(hasPermission('role.list')){ #-->
						<li class="${ menu[1] =='role_admin' ?'active':''}"><a href="${base!}/role/list"> <i class="menu-icon fa fa-lock"></i> 角色管理
						</a> <b class="arrow"></b></li>
						<!--# } #-->
						<!--# if(hasPermission('permission.list')){ #-->
						<li class="${ menu[1] =='permission_admin' ?'active':''}"><a href="${base!}/permission/list"> <i class="menu-icon fa fa-eye"></i> 权限管理
						</a> <b class="arrow"></b></li>
						<!--# } #-->
					</ul></li>

				<li class="${ menu[0] =='settings' ?'active open':''}"><a href="#" class="dropdown-toggle"> <i class="menu-icon fa fa-cogs"></i> <span class="menu-text"> 配置管理 </span>
						<b class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>

					<ul class="submenu">
						<!--# if(hasPermission('config.list')){ #-->
						<li class="${ menu[1] =='setting_list' ?'active':''}"><a href="${base!}/setting/list"> <i class="menu-icon fa fa-cog"></i> 配置列表
						</a> <b class="arrow"></b></li>
						<!--# } #-->
						<!--# if(hasPermission('config.wechat')){ #-->
						<li class="${ menu[1] =='wechat_setting' ?'active':''}"><a href="${base!}/setting/wechat"> <i class="menu-icon fa fa-weixin"></i> 微信接入
						</a> <b class="arrow"></b></li>
						<!--# } #-->
					</ul></li>

				<li class="${ menu[0] =='struts' ?'active open':''}"><a href="#" class="dropdown-toggle"> <i class="menu-icon fa fa-building"></i> <span class="menu-text">组织架构
					</span> <b class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>

					<ul class="submenu">
						<!--# if(hasPermission('struts.list')){ #-->
						<li class="${ menu[1] =='branch_admin' ?'active':''}"><a href="${base!}/branch/list"> <i class="menu-icon fa fa-bank"></i> 机构管理
						</a> <b class="arrow"></b></li>
						<!--# } #-->

					</ul></li>
			</ul>
			<!-- /.nav-list -->

			<!-- #section:basics/sidebar.layout.minimize -->
			<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
				<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
			</div>

			<!-- /section:basics/sidebar.layout.minimize -->
			<script type="text/javascript">
				try {
					ace.settings.check('sidebar', 'collapsed')
				} catch (e) {
				}
			</script>
		</div>

		<!-- /section:basics/sidebar -->
		<div class="main-content">
			<div class="main-content-inner">
				<!-- #section:basics/content.breadcrumbs -->
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try {
							ace.settings.check('breadcrumbs', 'fixed')
						} catch (e) {
						}
					</script>

					<ul class="breadcrumb">
						<li><i class="ace-icon fa fa-home home-icon"></i> <a href="${base}">首页</a></li>
						<!--#  
							for(breadcrumb in breadcrumbs){ 
								if(breadcrumb.url != null){
						#-->
						<li><a href="${base}/${breadcrumb.url}">${breadcrumb.name}</a></li>
						<!--#		}else{#-->
						<li class="active">${breadcrumb.name}</li>
						<!--#	}
							}
						#-->

					</ul>
					<!-- /.breadcrumb -->

					<!-- #section:basics/content.searchbox -->
					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon"> <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" /> <i
								class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
						</form>
					</div>
					<!-- /.nav-search -->

					<!-- /section:basics/content.searchbox -->
				</div>

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!--# 
                        		if(config("debug")){
							#-->
							<div class="widget-box transparent collapsed">
								<div class="widget-header widget-header-flat">
									<h4 class="widget-title lighter">
										<i class="ace-icon fa fa-bug"></i> 调试数据
									</h4>
									<div class="widget-toolbar">
										<a href="#" data-action="collapse"> <i class="ace-icon fa fa-chevron-down"></i>
										</a>
									</div>
								</div>

								<div class="widget-body">
									<div class="widget-main">
										<pre>${obj}</pre>
									</div>
								</div>
							</div>
							<!--#	} #-->
							${layoutContent}
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->

		<div class="footer">
			<div class="footer-inner">
				<!-- #section:basics/footer -->
				<div class="footer-content">
					<span class="bigger-100"> <span class="blue bolder"> ${config("copy.right")} </span>
					</span>
				</div>
				<!-- /section:basics/footer -->
			</div>
		</div>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div>
	<!-- /.main-container -->

	<!-- basic scripts -->

	<!--[if !IE]> -->
	<script type="text/javascript">
		window.jQuery || document.write("<script src='${base}/resources/ace/js/jquery.js'>" + "<" + "/script>");
	</script>

	<!-- <![endif]-->

	<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='${base}/resources/ace/js/jquery1x.js'>" + "<" + "/script>");
</script>
<![endif]-->
	<script type="text/javascript">
		if ('ontouchstart' in document.documentElement)
			document.write("<script src='${base}/resources/ace/js/jquery.mobile.custom.js'>" + "<" + "/script>");
	</script>
	<script src="${base}/resources/ace/js/bootstrap.js"></script>

	<!-- page specific plugin scripts -->

	<!-- ace scripts -->
	<script src="${base}/resources/ace/js/ace/elements.scroller.js"></script>
	<script src="${base}/resources/ace/js/ace/elements.colorpicker.js"></script>
	<script src="${base}/resources/ace/js/ace/elements.fileinput.js"></script>
	<script src="${base}/resources/ace/js/ace/elements.typeahead.js"></script>
	<script src="${base}/resources/ace/js/ace/elements.wysiwyg.js"></script>
	<script src="${base}/resources/ace/js/ace/elements.spinner.js"></script>
	<script src="${base}/resources/ace/js/ace/elements.treeview.js"></script>
	<script src="${base}/resources/ace/js/ace/elements.wizard.js"></script>
	<script src="${base}/resources/ace/js/ace/elements.aside.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.ajax-content.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.touch-drag.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.sidebar.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.sidebar-scroll-1.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.submenu-hover.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.widget-box.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.settings.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.settings-rtl.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.settings-skin.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.widget-on-reload.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.searchbox-autocomplete.js"></script>
	<script src="${base}/resources/ace/js/jquery-ui.js"></script>
	<script src="${base}/resources/ace/js/jquery.iframe-transport.js"></script>
	<script src="${base}/resources/ace/js/jquery.fileupload.js"></script>

	<!-- inline scripts related to this page -->

	<!-- the following scripts are used in demo only for onpage help and you don't need them -->
	<link rel="stylesheet" href="${base}/resources/ace/css/ace.onpage-help.css" />

	<script type="text/javascript">
		ace.vars['base'] = '..';
	</script>
	<script src="${base}/resources/ace/js/ace/elements.onpage-help.js"></script>
	<script src="${base}/resources/ace/js/ace/ace.onpage-help.js"></script>
	<script src="${base}/resources/layer/layer.js"></script>
	<script src="${base}/resources/layer/extend/layer.ext.js"></script>
	<script src="${base}/resources/js/common/common.js"></script>
	<script src="${base}/resources/js/common/validation.js"></script>
	<!-- script src="../docs/assets/js/rainbow.js"></script>
    <script src="../docs/assets/js/language/generic.js"></script>
    <script src="../docs/assets/js/language/html.js"></script>
    <script src="../docs/assets/js/language/css.js"></script>
    <script src="../docs/assets/js/language/javascript.js"></script-->
</body>
</html>