<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>${config("application.name")}</title>
<meta name="description" content="overview &amp; stats" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" href="${base!}/resources/ace/css/bootstrap.css" />
<script type="text/javascript">
	var contextPath = '${base!}';
</script>
<script src="${base!}/resources/ace/js/jquery1x.js"></script>


<!--[if lte IE 8]>
		<script src="${base!}/resources/ace/js/html5shiv.js"></script>
		<script src="${base!}/resources/ace/js/respond.js"></script>
		<![endif]-->
</head>

<body class="no-skin">
	${layoutContent}
	<script type="text/javascript">
		window.jQuery || document.write("<script src='${base!}/resources/ace/js/jquery.js'>" + "<"+"/script>");
	</script>


	<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='${base!}/resources/ace/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->

	<script src="${base!}/resources/layer/layer.js"></script>
	<script src="${base!}/resources/layer/extend/layer.ext.js"></script>
</body>
</html>
