<!--# 
layout("/layout/default.html",{"menu":["config","config_admin"],"breadcrumbs":[{"name":"配置列表",url:"config/list"},{"name":(obj.data.key! == null?"添加配置":"编辑配置")}]}){ 
 #-->
<link rel="stylesheet"
	href="${base!}/assets/kindeditor/themes/default/default.css" />
<script charset="utf-8"
	src="${base!}/assets/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="${base!}/assets/kindeditor/lang/zh_CN.js"></script>
<div class="space-4"></div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-sm-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">${obj.data.key! == null ?
					"添加配置":"编辑配置"}</h3>
			</div>
			<div class="panel-body">
				<form id="configForm" class="cmxform form-horizontal adminex-form"
					novalidate="novalidate">
					<div class="form-group ">
						<label for="用户名" class="control-label col-lg-3">配置名 : </label>
						<div class="col-lg-9">
							<input class="form-control" type="text" placeholder="请输入配置名称"
								name="name" data-type='required' data-error='请输入配置名称'
								value="${obj.data.key!}" ${obj.data.key! ==null ? "":"readonly"} />
						</div>
					</div>
					<div class="form-group ">
						<label class="control-label col-lg-3"> 配置值 : </label>
						<div class="col-lg-9">
							<input class="form-control" type="text" placeholder="请输入用户配置值"
								name="value" data-type='required' data-error='请输入用户配置值'
								value="${obj.data.value!}">
						</div>
					</div>
					<div class="form-group ">
						<label class="control-label col-lg-3"> 配置说明 : </label>
						<div class="col-lg-9">
							<textarea rows="10" id="description" name="description"
								class="form-control" placeholder="请填写配置说明">${obj.data.config.description!}</textarea>
						</div>
					</div>
					<input type="hidden" id="id" name="installed"
						value="${obj.data.config.installed!}"> <input
						type="hidden" id="id" name="id" value="${obj.data.config.id!}">
					<div class="pull-right" style="margin-right: 45px">
						<button type="button" class="btn btn-sm btn-primary"
							onclick="save(this)">
							<i class="fa fa-save"></i> 提交
						</button>
						<a href="javascript:;" class="btn btn-sm btn-default btn-back">
							<i class="fa fa-undo"></i> 返回
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var editor;
	KindEditor.ready(function(K) {
		editor = K.create('textarea[name="description"]', {
			uploadJson : Common.getRootPath() + '/kind/upload'
		});
	})

	function save(btn) {
		$('#description').val(editor.html());
		if ($('#configForm').find('input').validation()) { //验证表单
			layer.confirm('配置修改可能导致系统无法运行<br />确定进行提交 ?', {
				icon : 3,
				title : '重要操作提示'
			}, function(index) {
				if ($('#id').val()) {
					$.post(Common.getRootPath() + '/config/edit', $('#configForm').serialize(), function(result) {
						if (result.operationState == 'SUCCESS') {
							location.href = Common.getRootPath() + "/config/list";
						} else {
							Common.validationFail(result.data.reason, btn);
						}
					}, 'json');
				} else {
					$.post(Common.getRootPath() + '/config/add', $('#configForm').serialize(), function(result) {
						if (result.operationState == 'SUCCESS') {
							location.href = Common.getRootPath() + "/config/list";
						} else {
							Common.validationFail(result.data.reason, btn);
						}
					}, 'json');
				}
			});
		}
	}
</script>
<!--# } #-->